body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.MonoLogo{
    font-size: 50px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
#loginInput{
    width: 350px;
    border: 1px solid #8E22FF;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000; 
    margin-top: 20px;
}
#passwordInput{
    width: 350px;
    border: 1px solid #8E22FF;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000; 
    margin-top: 20px;
}
#LoginBtn {
    width: 329px;
    border: 1px solid #8E22FF;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
    cursor: pointer;
}

.SignIn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.LoginPs{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
